.titles2 {
	font-family: ButlerUltraLight;
	color: $white;
	font-size: 5.72917vw;
	line-height: 1.135;
	text-align: center;
	width: 100%;
	display: none;
}

.name {
	color: $white;
	font-size: 1.2vw;
	line-height: 1;
	max-width: 5.5vw;
	padding: 9rem;
	letter-spacing: 0.13em;
}

.poss {
	position: absolute;
	top: 40%;
	width: 100vw;
	text-align: center;
}

.titlebox {
	max-width: 62.5vw;
	margin: auto;
	left: 50%;
	&:hover {
		.titles {
			display: none;
		}
		.titles2 {
			display: block;
		}
	}
}

.rou {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5em;
}

.button {
	padding: 0;
	font-family: $appleFont;
	font-size: 1.04167vw;
	border-radius: 1.30208vw;
	padding: 0.625vw 1.66667vw;
	line-height: 1;
	background-color: transparent;
	border: none;
	span {
		font-family: $appleFont;
		font-size: 1.04167vw;
		border-radius: 1.30208vw;
		padding: 0.625vw 1.66667vw;
		background-color: transparent;
	}
	.b1 {
		color: $ogreen;
		border: 0.15208vw solid $ogreen;
		&:hover {
			color: $lgreen;
			border-color: $lgreen;
		}
	}
	.b2 {
		color: $lgrey;
		border: 0.15208vw solid $lgrey;
		&:hover {
			color: $white;
			border-color: $white;
		}
	}
	.b3 {
		color: $red;
		border: 0.15208vw solid $red;
		&:hover {
			color: $lred;
			border-color: $lred;
		}
	}
}
