* {
	font-family: ButlerUltraLight;
	margin: 0px;
}

html,
body {
	background-color: $nblack;
	height: 100vh;
	width: 100vw;
}

.pointer {
	cursor: pointer;
}

.titles {
	font-family: ButlerUltraLight;
	color: $white;
	font-size: 5.72917vw;
	line-height: 1.135;
	text-align: center;
	width: 100%;
}

.cards {
	padding: 25px;
	border-radius: 25px;
	background-color: $lgold;
}
