$black: #1d1d1f;
$nblack: #080808;

$white: #fff;

$lgrey: #a8a8a8;
// $lgrey: #f5f5f7;

$mgrey: #86868b;

$lgold: #fdf6f0;
$gold: #d3d3d3;

$link: #06c;

$radius: 25px;

$appleFont: SF Pro Dispslay, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
	sans-serif;

$ogreen: green;
$green: #306844;
// $lgreen: #abc32f;
$lgreen: #809c13;

$red: #cc0000;
$lred: #ff4c4c;
